.Opinions .MainWrapper{
    margin: auto;
    width: 100%;
    padding-bottom: 92px;
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
    }
}
.Opinions .StarsWrapper{
    padding-top: 20px;
    padding-bottom: 10px;
}

.WrapperOpinion {
    display: flex;
    margin-bottom: 40px;
}
.WrapperOpinionLeft{
    width: 50%;
    padding: 40px;
    max-width: 637px;
    width: 100%;
     .leftHeading{
        margin: 10px 0px;
    }
    .p15{
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
.WrapperOpinionRight{
    width: 50%;
img{
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
}

.Opinions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WrapperOpinionHeading {
    padding-top: 16px;
    padding-bottom: 16px;
}
.ParagraphOpinionHeading{
    padding-top: 16px;
    padding-bottom: 16px;
}
.average{
color:#93411F;
}

.mainHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        font-weight: 800;
        span{
            font-weight: 800;
            color: #000;
        }
    }
}

@media screen and (max-width: 768px) {
.WrapperOpinion{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column-reverse;
    padding: 0px 16px;
    max-width: 100%;
    width: 100%;
}
.WrapperOpinionRight {
    width: 100%;
    margin: auto;
}
.WrapperOpinionRight {
    width: 100%;
}
.WrapperOpinionLeft {
    width: 100%;
    padding: 24px 0px 0px 0px;
   
}
.BigFoto{ 
    width: 100%;
}
  }