// Optimized CSS
@import './reset.css';
@import './normalize.css';

// Global styles
@import '../../app/Footer/styles/Footer.scss';

//Pages
@import '../Renowacja/Renovation.scss';
@import '../Opinie/styles/opinie.scss';



 .swiper-pagination-bullets {
    bottom: 0!important;
    .swiper-pagination-bullet{
    border: 1px solid #244B55;
    background-color: transparent;
    opacity: 1;
    }
    .swiper-pagination-bullet-active {
        border-radius: 4px;
        background: #244B54;
        width: 8px;
        height: 8px;
      }
  }
