// Optimized CSS
@import './reset.css';
@import './normalize.css';

// Global styles
@import '../../app/Footer/styles/Footer.scss';




 .swiper-pagination-bullets {
  display: none;
  @media only screen and (max-width: 991px) {
    display: block;
  }
    bottom: 0!important;
    .swiper-pagination-bullet{
    border: 1px solid #244B55;
    background-color: transparent;
    opacity: 1;
    }
    .swiper-pagination-bullet-active {
        border-radius: 4px;
        background: #244B54;
        width: 8px;
        height: 8px;
      }
  }
