.RenovationPageInfo {
    padding: 0px 40px;
    max-width: 100%;
  
}


.RenovationPageInfo .MainSectionHeading {
padding: 72px 0px 64px 0px;
@media only screen and (max-width: 767px) {
    padding: 72px 16px 64px 16px;
}
}
.RenovationPageInfo .MainHeading {
padding: 14px 0px 14px 0px;
}
.RenovationPageInfo .ColWrapper {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.RenovationPageInfo .ColWrapper .col-6{

display: flex;
margin-bottom: 50px;
}
.RenovationPageInfo  .text {
padding:11.5px 30px 11.5px 40px ;
width: 50%;
max-width: 400px;

}
.RenovationPageInfo  .foto {
max-width: 50%;
width: 240px;
}
.RenovationPageInfo  .photo-section {
width: 100%;
height: 100%;
object-fit: cover;
}





@media screen and (max-width: 1200px) {
.RenovationPageInfo .ColWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.RenovationPageInfo .ColWrapper .col-6 {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
}
.RenovationPageInfo .text {
    padding: 11.5px 30px 11.5px 40px;
    max-width: 900px;
}
}

@media screen and (max-width: 768px) {
    .RenovationPageInfo .ColWrapper {
        padding: 0px 16px;
    }
.RenovationPageInfo {
  
    padding: 0;
}
.RenovationPageInfo .col-6 {
  flex-direction: column;
  display: flex;
}
.RenovationPageInfo .foto {
max-width: 100%;
width: 100%;
object-fit: cover;
}
.RenovationPageInfo .text {
max-width: 100%;
width: 100%;
padding: 0;
}
.RenovationPageInfo .inner-text{
padding: 40px 0px;
}
}
