.RenovationPage {
    display: flex;
    padding-right: 112px;
    padding-left: 112px;
    padding-top: 88px;
    justify-content: space-around;
    @media only screen and (max-width: 1199px) {
      
      flex-direction: column-reverse;;
      }
      .RenovationColumWrapper{
        max-width: 100%;
        width: 100%;
        img{
            width: 100%;
        }
      }
    @media only screen and (max-width: 768px) {
        padding: 16px;
      }
 

}


.RenovationPageParagraph {
    padding-top: 36px;
    padding-bottom: 54px;
}

.RenovationPageInfoParentWrapper {
    gap: 0px 72px;
    display: flex;
    justify-content: center;
}
.RenovationPageInfoParent{
    max-width: 254px;
    text-align: center;
    padding-bottom: 120px;
    @media only screen and (max-width: 700px) {
      
        max-width: 100%;
    }
}


.RenovationPage .col-6 {
width: 50%;
}
.RenovationPage .RenovationPageText {
    max-width:438px;
    padding: 110px 0px;
    @media only screen and (max-width: 1199px) {
      
        max-width: 100%;
        padding: 50px 0px;
    }
}

@media only screen and (max-width: 700px) {
.swiper-wrapper {
    transition-delay: 0ms;
    transform: translate3d(0px, 0px, 0px)!important;
}
}