.ProductPagePopup   .ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .nav-item button
  {
padding: 10px;
  background: transparent;
  border: solid 1px #ced4da;
  margin: 5px;
  color: #000;
}
.nav-item button.active {
  background-color: rgb(29, 60, 68);
  color: rgb(255, 255, 255);
  
    .h6-500{
        color: #fff;
    }
  
   }
.ModalContentMainHeading{
  padding-top: 64px;
  padding-bottom: 40px;
  text-align: left;
}

.ModalContentTabHeading{
margin-bottom: 15px;
}
.paragraph-desc {
  margin-bottom: 40px;
}
.TabPhotoWrapper
{display: flex;
  width: 140px;
  height: 140px;
  margin-right: 29px;
  padding: 19.849px 19.595px 20.151px 20.405px;
  justify-content: center;
  align-items: center;
  border: 0.898px solid var(--grey-300, #AEB2B3);
  background: #FFF;
}
.TabPhotoWrapper img
{
  width: 140px;
height: 140px;
flex-shrink: 0;
}
.tab-content{
  width: 100%;
}
.Photoforheading{
  margin-top: 10px;
}
.TablePhotoWrapperParent
{    display: flex;
  flex-wrap: wrap;
  gap: 40px 0px;
}