.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100px;
    display: flex;
    position: relative;
    background-color: #fff;
    width: 100%;
    border-bottom: solid;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
.navigation svg path {
  fill: #244B55;
}

.category-main{
  display: flex;
  align-items: center;
}

.navigation-left{
  padding-left: 40px;
  display: flex;
  align-items: center;
  .logo{
    margin-right: 50px;
  }
}
.navigation-right{
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5{
 margin-right: 20px;
}


.subcategory-main-active {
  position: absolute;
  width: 14%;
height: 100%;
  top: 0px;
  display: block!important;
  padding-left: 46px;
  padding-right: 20px;
  border-right: solid 1px gray;
  padding-top: 30px;
}  
.subcategory-main-parent {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.subcategory-main-parent {
  width: 100%;
}
.third-level-5{
  padding: 10px;
}


.subcategoryClass {
  height: 56px;
  position: relative;
}
.subcategoryClass-1 .subsubcategory-main {
  position: absolute;
  left: 273px;
  top: 0;
padding-bottom: 40px;
z-index: 11;
display: none;
background-color: transparent;
}

.subcategoryClass-3  .subsubcategory-main {
  top: -127px;
  left: 273px;
  position: absolute;
  padding: 20px;
  z-index: 10;
  display: none;

}
.subcategoryClass-5  .subsubcategory-main {
  top: -250px;
  left: 273px;
  position: absolute;
  padding: 20px;
  z-index: 10;
  display: none;
}

.subcategoryClass-1.active  .subsubcategory-main{
  display: block;
}
.subcategoryClass-3.active  .subsubcategory-main{
  display: block;
}
.subcategoryClass-5.active  .subsubcategory-main{
  display: block;
}

/* Definicja animacji schodzenia (slideDown) */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Definicja animacji wznoszenia (slideUp) */
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* Styl dla elementu .subcategory-main-parent-second */
.subcategory-main-parent-second {
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 101px;
  height: 350px;
  overflow: hidden;
  z-index: 0;

}

/* Styl dla elementu .subcategory-main-parent-second z aktywną klasą (dla animacji slideDown) */
.subcategory-main-parent-second.active-slide-down {
  animation: slideDown 0.5s ease;
}

/* Styl dla elementu .subcategory-main-parent-second z aktywną klasą (dla animacji slideUp) */
.subcategory-main-parent-second.active-slide-up {
  animation: slideUp 0.3s ease;
  z-index: 0;
  
}



.img-wraper{
  position: absolute;
    right: 0px;
    top: 0px;
}



.third-level-51{
  padding: 20px;
}
.third-level-52{
  padding: 20px;
}
.third-level-53{
  padding: 20px;
}
.third-level-54{
  padding: 20px;
}

.right-photo{
  opacity: 0;
}

.Image-left{
  position: absolute;
  top: -77px;
  left: 37px;
  width: 400px;
  height: 400px;

}

.inside-wraper{
  position: relative;
  left: -250px;
  width: 400px;
  height: 400px;
  top: 0px;
}
.hidden{
  display: none;
}

.img-wraper::before{
  content: '';
  display: block;
  position: absolute;
  left: -111%;
  width: 1px;
  height: 100%;
  background-color: gray;
}












  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
    height: 5.5rem;
    max-height: 5.5rem;
    position: static;
    box-sizing: border-box;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navigation-container.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    height: 3.75rem;
    max-height: 3.75rem;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    position: fixed;
  }
  .navigation-container .scrolled {
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
