@import '../kategorie/styles/kategorie.scss';

.ProductPageCategory {
    padding: 0px 40px;
    margin-bottom: 72px;
}

.ProductPageCategory .location {
    gap: 10px;
    display: flex;
    margin-top: 31px;
    margin-bottom: 8px;
}


.ProductPageCategory ul
{
    display: flex;
    gap: 20px;
}
.ProductPageCategory ul li
{
width: 30%;
}
.ProductPageCategory .ProductPageCategoryImage
{
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .ProductPageCategory ul li
    {
    width: 46%;
    }
    .ProductPageCategory ul {
        flex-wrap: wrap;
    }
  }