
.MostPopular .SwiperSliderWrapper
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #F4F5F5;
}
.MostPopular .swiper-slide img {
  width: 100%;
  height: 303px;
}

.MostPopular .swiper-slide {
  display: flex;
  max-width: 30%;
   height: 416px;
  flex-direction: column;
}


.MostPopular .SwipperSliderHeading
{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.MostPopular .swiper
{
display: flex;
flex-direction: column-reverse;
}
.MostPopular .swiper-top
{
  display: flex;
  padding-left: 40px;
  justify-content: space-between;
  align-items: center;
}
.MostPopular  .swiper-nav-btns button {
  background-color: transparent;
}

.MostPopular  .swiper-nav-btns button:nth-child(1) img {
  transform: rotate(180deg);
}


@media screen and (max-width: 1500px) {
  .MostPopular .swiper-slide {
max-width: 40%;
  }
  
}
@media screen and (max-width: 1200px) {
  .MostPopular .swiper-slide {
max-width: 45%;
  }
  
}
@media screen and (max-width: 900px) {
  .MostPopular .SwipersSliderImage {
max-height: 300px;
  }
}
  @media screen and (max-width: 700px) {
    .MostPopular .swiper-slide {
  max-width: 66%;
    }
  } 
  @media screen and (max-width: 600px) {
    .MostPopular{
      padding: 0px 16px;
    }
    .MostPopular .swiper-slide {
  max-width: 75%;
    } 
    
}