.header {
    display: flex;
    justify-content: space-between;
    
  
    .menu {
      display: flex;
      gap: 30px;
    }
}
  
    .active {
      visibility: visible !important;
      display: flex;
    }
  
    .unActiveImage {
      visibility: hidden!important;
    }
  
    .activeImage {
      visibility: visible;
      position: absolute;
      top: 0;
    }
  
    .secondLevel {
      display: flex;
      visibility: hidden;
      max-height: 300px;
    overflow: hidden;
    .secondLevelbelow{
        max-width: 300px;
    border-right: 1px solid rgb(228, 229, 230);
    }
    }
  
   
  
    .taklasa:hover .taklasa1 {
      display: block;
    }
  
    .headerImage {
      max-width: 400px;
      max-height: 225px;
    }
  
    .headerMenu {
      position: absolute;
      top: 20%;
      left: 50%;
  
      .headerImageli {
        position: absolute;
        top: 0;
      }
    }
  

  .parentSecondLevel {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 40px;

    .thirdLevel {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      margin-left: 30px;
      border-right: 1px solid rgb(228, 229, 230);
      min-width: 300px;
    }

    .childrenSecondLevel {
      margin-bottom: 20px;
    }
  }
  .thirdLevelWrapper {
    padding-right: 200px;
    border-right: 1px solid rgb(228, 229, 230);
  }
  .thirdLevel {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    max-height: 257px;
    gap: 31px;
    flex-wrap: wrap;
    padding: 40px;
  }
  .active2 {
    visibility: visible !important;
    display: flex;

  }
  .active2 {
    visibility: visible !important;
    display: flex;
    position: absolute;
    top: 0;
  }