.headerParent {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 98px;
  transition: all 0.3s ease 0s;
  .anchorParent a:after{ 
    display: block;
    content: '';
    width: 0;
    height: 2px;
    opacity: 0;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    bottom: -0.375rem;
    top: 9px;
  }
  .anchorParent:hover a:after{ 
    width: 100%;
    height: 2px;
    opacity: 1;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    bottom: -0.375rem;
    top: 9px;    
  }
  .kontaktDesktop{
    border: 1px solid #fff;
    padding: 15px 25px;
  }
  .kontaktDesktop1{
    border: 1px solid #000;
    padding: 15px 25px;
  }
   .mainWrapper{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    .black{
      path{
        fill: #000;
      }
    }
  }
  .scroll{
    .kontaktDesktop{
      border: 1px solid #000;
      padding: 15px 25px;
    }
  }
  .mainWrapperScroll{
    padding: 10px 40px 10px 40px ;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
  }
}
.headerParent1 {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 98px;
  transition: all 0.3s ease 0s;
  .kontaktDesktop{
    border: 1px solid rgb(36, 75, 85);
    padding: 15px 25px;
  }
  .kontaktDesktop:hover{
    background-color:  rgb(36, 75, 85);
    a{
       color: #fff!important;
  }
  }
  .menu {
    display: flex;
    gap: 30px;
    a{
      color: #000!important;
    }}
  
  .mainWrapper{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
  }
  .mainWrapperScroll{
    padding: 10px 40px 10px 40px ;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
  }
 
}
.scroll{
  background-color: #fff;
  transition: all 0.3s ease 0s;
  height: 70px;
  .menu {
    display: flex;
    gap: 30px;
    .anchorParent a:after{ 
      display: block;
      content: '';
      width: 0;
      height: 2px;
      opacity: 0;
      background: #252727;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      bottom: -0.375rem;
      top: 9px;
    }
    .anchorParent:hover a:after{ 
      width: 100%;
      height: 2px;
      opacity: 1;
      background: #252727;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      bottom: -0.375rem;
      top: 9px;    
    }
}
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
    .menu {
      display: flex;
      gap: 30px;
      
      a{
        color: #fff;
      }
      .second{
        color: #000;
      }
    }
}
  
    .active {
      visibility: visible !important;
      display: flex;
    }
  
    .unActiveImage {
      visibility: hidden!important;
    }
  
    .activeImage {
      visibility: visible;
      position: absolute;
      top: 0;
    }
  
    .activeHeader{
      background-color: #fff;
      .second{
        color: #000;
      }
    }
    .secondLevel {
      display: flex;  
      visibility: hidden;
      max-height: 300px;
      overflow: hidden;
      position: absolute;
      background: #fff;
      width: 100%;
      left: 0;
      top: 70px;
      border-top: solid 1px  rgb(228, 229, 230);

    
    .secondLevelbelow{
        max-width: 300px;
    border-right: 1px solid rgb(228, 229, 230);
    }
    }
  
   
  
    .taklasa:hover .taklasa1 {
      display: block;
    }
  
    .headerImage {
      max-width: 400px;
      max-height: 225px;
    }
  
    .headerMenu {
      position: absolute;
      top: 20%;
      left: 50%;
  
      .headerImageli {
        position: absolute;
        top: 0;
      }
      a{
        color: #fff;
      }
    }
  

  .parentSecondLevel {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 40px;

    .thirdLevel {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      margin-left: 30px;
      border-right: 1px solid rgb(228, 229, 230);
      min-width: 300px;
    }

    .childrenSecondLevel {
      margin-bottom: 20px;
    }
  }
  .thirdLevelWrapper {
    padding-right: 200px;
    border-right: 1px solid rgb(228, 229, 230);
  }
  .thirdLevel {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    max-height: 257px;
    gap: 31px;
    flex-wrap: wrap;
    padding: 40px;
  }
  .active2 {
    visibility: visible !important;
    display: flex;

  }
  .active2 {
    visibility: visible !important;
    display: flex;
    position: absolute;
    top: 0;
  }