.Featured {
    padding: 40px 0px;
    margin-top: -2px;
    height: 850px;
    background-size: cover;
    background-image: url("../../../../public/static/img/Featured.png");
  }
  .Featured .text-center-setting
  {
    width: 100%;
    display: flex;
    height: 100%;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
  }
  
  .Featured .text-center-setting  .main-heading{
    text-align: right;
  }
  .Featured .text-center {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      color: #fff;
      flex-direction: row;
      max-width: 80%;
      margin: auto;
  }
  
  .Featured button {
    margin-left: auto;
    margin-top: 48px;
  }


  @media screen and (max-width: 800px) {
    .Featured .display-second {
      font-size: 42px;
      font-weight: 900;
        }
  }

 