
.mostPopular{
  padding-left: 40px;
  @media screen and (max-width: 600px) {
      padding: 0px 16px;
}

.swiper
{
display: flex;
flex-direction: column-reverse;
.wrapperClass{
  margin-left: -40px;
}
.swiperTop
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 40px;
}
 .swiperSlide {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  img {
    width: 100%;

  
}
}

.swiperSliderWrapper
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #F4F5F5;
}
.swipperSliderHeading
{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}


}
}





