.hero {
  height: 850px;
  background-size: cover;
  margin-bottom: 64px;
   .textCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    .textCenterSetting {
      max-width: 650px;
      padding-left: 192px;
      
@media screen and (max-width: 1300px) {
    padding-left: 80px;
  
}
.displaySecond {
  padding-top: 8px;
  padding-bottom: 32px;
  text-align: left;
  color: #fff;
  @media screen and (max-width: 900px) {
      font-size: 52px;
  }
}
    }
  }
  

}








