
.contact{
    display: flex;
    margin-top: 144px;
gap: 20%;
    padding: 0px 40px;
    @media screen and (max-width: 1199px) {
gap: 15%;
    }
    @media screen and (max-width: 991px) {
    flex-direction: column;
    }
    @media screen and (max-width: 991px) {
   padding: 16px;
    }
    .contactDetails {
   z-index: 1;
   @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
    }
    }
    .contactSection{
       z-index: 1;
       width: 100%;
      }
        
}


.contactDetailsSmall{
    display: flex;
    padding: 27px 0px;
    width: 100%;
    align-items: center;
}



  .companyAdress{
    max-width: 150px;
  }




