.Contact input {
    margin-bottom: 17px;
    margin-top: 8px;
}
.Contact textarea {
    margin-bottom: 47px;
    margin-top: 8px;
}
 .customtextarea {
    background-color: #fff; 
    outline: NONE;
  }


.error .custom-input {
    border: 1px solid red; 
    background-color: #ffebee; 
        margin-bottom: 4px;
  }
  
  .error .input-label {
    color: red; 
  }
  .error .textarea-label {
    color: red; 
  }
  .error .textarea-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

  
  .error .textarea-container {
    border: 1px solid red; 
    background-color: #ffebee; 
    margin-bottom: 20px;
    margin-top: 10px;
  }
 .error  .customtextarea {
   border: none;
    background-color: #ffebee; 
  }

  

  .custom-input:invalid {
    box-shadow: none;
  }
  
  .customtextarea:invalid {
    box-shadow: none;
  }
