.futureSection {
    display: flex;
    max-width: 100%;
    padding: 100px 0px;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 1200px) {
          padding: 100px 40px;
    }
    .swiper{
        height: 250px;
    }
    .feature {
        text-align: center;
        max-width: 440px;
        @media screen and (max-width: 1200px) {
                display: flex;
              justify-content: center;      
            }
            @media screen and (max-width: 600px) {
                text-align: center;
                width: 100%;
                margin: auto;
          }
          .featureWrapper{
            display: flex;
            flex-direction: column;
            gap: 30px;
          }
}
      }
     

 



   
  